{% extends "../base-admin.html" %}
 {% block page_title %}/ Home {% endblock page_title %}

 {% block overlay %}
  <div class=" min-h-96 w-full bg-cyan-100 absolute -z-10 top-0 "></div>
{% endblock overlay %}

{% block content %}


<div class=" p-4 sm:ml-64 z-50 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    User Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Listings count
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{user.first_name}} {{user.last_name }}
                </th>
                <td class="px-6 py-4">
                    {{user.email }}
                </td>
                <td class="px-6 py-4">
                    {{user.is_staff }}
                </td>
                <td class="px-6 py-4">
                    {{user.listings.count}}
                </td>
                <td class="px-6 py-4">
                {% if user.is_active %}
                    <a href="{% url 'admin-action' id=user.id %}" class="font-medium bg-red-200 p-1 focus:ring-2 focus:ring-red-400 px-2 rounded  text-red-600 dark:text-red-600 ">Ban</a>
                {% else %}
                    <a href="{% url 'admin-action' id=user.id %}" class="font-medium p-1 focus:ring-2 bg-green-200 focus:ring-green-400 px-2 rounded text-green-600 dark:text-green-500">Unban</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}