{%extends "base.html"%}
{%block title %} home {%endblock title %}
{% block content%}

    <div class=" relative mt-5 flex flex-col gap-3 ">
        <div class="  flex gap-2 w-full overflow-x-scroll  ">
            {%if user.id == listing.user.id %}
            <div>
                <form action="{% url 'listing_delete' id=listing.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class=" absolute top-2 right-2 text-white bg-red-500 hover:bg-red-600 focus:ring-2 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">DELETE</button>
                </form>
            </div>
            {%endif%}
            {% for media in listing.medias.all %}
                <img class=" h-[30rem] w-[140rem] object-cover" src="{{ media.file_path }}" alt="Listing Media">
            {% endfor %}
        </div>
        <div class=" flex flex-col gap-2">
            <div class=" flex justify-between items-center">
                <!-- <div class="form-group">
                    <label for="my-input">Text</label>
                    <input id="my-input" class="form-control-range" type="range" name="" min="0" max="100">
                </div> -->
                <div class=" flex gap-1 items-center">
                    <i class="fas fa-user border p-2 rounded-full "></i>
                    <span>{{listing.user.first_name}} {{listing.user.last_name}}</span>
                </div>
                <a href="{% url 'start_conversation' listing_id=listing.id user_id=listing.user_id %}" class="text-white bg-cyan-700 hover:bg-cyan-600 focus:ring-2 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Send Message</a>
            </div>
            <div class=" flex flex-col justify-between ">
                <h3 class="text-2xl font-semibold" > {{ listing.title }} </h3>
                <span class=" font-semibold text-xl text-orange-600">${{listing.price}} monthly 💴</span>
            </div>
            <div class=" flex flex-col gap-2">
                <div class=" flex gap-2 items-center">
                    <i class="fas fa-map-marker-alt    "></i>
                    <span> {{listing.area}}, {{listing.sub_city}}, {{listing.city}}</span>
                </div>
            <div class=" flex gap-10">
                    <span class="   rounded">🏛  {{listing.rooms}} room(s)</span>
                    <span class="  rounded ">🛏 {{listing.bedrooms}} bedroom(s)</span>
                    <span class="  rounded">🛁 {{listing.bathrooms}} bathroom(s)</span>
                </div>
                <div>
                    <span class=" font-semibold">📱 {{listing.phone_number1}}, {{listing.phone_number2}}</span>
                </div>
            </div>
            <div>
                {{listing.desc}}
            </div>
        </div>
    </div>

{% endblock content%}
