{%extends "base.html"%}
{%block title %} home {%endblock title %}
{% block content%}

    <div class=" mt-5 flex flex-col gap-3 ">
        <div class=" flex gap-2 w-full overflow-x-scroll  ">
            {% for media in listing.medias.all %}
                <img class=" h-[30rem] w-[140rem] object-cover" src="{{ media.file_path }}" alt="Listing Media">
            {% endfor %}
        </div>
        <div class=" flex flex-col gap-2">
            <div>
                <!-- <div class="form-group">
                    <label for="my-input">Text</label>
                    <input id="my-input" class="form-control-range" type="range" name="" min="0" max="100">
                </div> -->
                <i class="fas fa-user border p-2 rounded-full "></i>
                <span>{{listing.user.first_name}} {{listing.user.last_name}}</span>
            </div>
            <div class=" flex flex-col justify-between ">
                <h3 class="text-2xl font-semibold" > {{ listing.title }} </h3>
                <span class=" font-semibold text-xl text-orange-600">${{listing.price}} monthly 💴</span>
            </div>
            <div class=" flex flex-col gap-2">
                <div class=" flex gap-2 items-center">
                    <i class="fas fa-map-marker-alt    "></i>
                    <span> {{listing.area}}, {{listing.sub_city}}, {{listing.city}}</span>
                </div>
                <div class=" flex gap-10">
                    <span class="   rounded">🏛  {{listing.rooms}} room(s)</span>
                    <span class="  rounded ">🛏 {{listing.bedrooms}} bedroom(s)</span>
                    <span class="  rounded">🛁 {{listing.bathrooms}} bathroom(s)</span>
                </div>
                <div>
                    <span class=" font-semibold">📱 {{listing.phone_number1}}, {{listing.phone_number2}}</span>
                </div>
            </div>
            <div>
                {{listing.desc}}
            </div>
        </div>
    </div>

{% endblock content%}
