{% extends "base.html"%}
{% block title %} home {% endblock title %}
{% block content%}

<h2 class="text-2xl text-lime-950 font-bold text-center mt-5"> <i class="fa fa-edit text-lime-400" ></i> Edit Listing</h2>
<form method='POST' enctype="multipart/form-data" class=" flex justify-between mx-auto mt-5 gap-5">
    {% csrf_token %}
    <div class=" flex flex-col w-full">
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label_tag }}</div>
            <div>{{ form.title }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.price.label_tag }}</div>
            <div>{{ form.price }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.rooms.label_tag }}</div>
            <div>{{ form.rooms }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.bedrooms.label_tag }}</div>
            <div>{{ form.bedrooms }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.bathrooms.label_tag }}</div>
            <div>{{ form.bathrooms }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.square_metre.label_tag }}</div>
            <div>{{ form.square_metre }}</div>
        </div>
    </div>
    <div class="flex flex-col w-full">
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.city.label_tag }}</div>
            <div class="">{{ form.city }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.sub_city.label_tag }}</div>
            <div>{{ form.sub_city }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.area.label_tag }}</div>
            <div>{{ form.area }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.phone_number1.label_tag }}</div>
            <div>{{ form.phone_number1 }}</div>
        </div>
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.phone_number2.label_tag }}</div>
            <div>{{ form.phone_number2 }}</div>
        </div>
    </div>
    <div class="flex flex-col w-full">
        <div class="mb-4">
            <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.desc.label_tag }}</div>
            <div>{{ form.desc }}</div>
        </div>
        {% comment %} <input type="file" name="media" id="">
        <input type="file" name="media" id="">
        <input type="file" name="media" id=""> {% endcomment %}
        <button class="text-white mt-4 bg-lime-500 hover:bg-lime-600 focus:ring-4 focus:outline-none focus:ring-lime-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-lime-950 dark:hover:bg-lime-700 dark:focus:ring-lime-800">UPDATE</button>
    </div>
</form>

{% endblock content%}
