{%extends "base.html"%}
{%block title %} home {%endblock title %}
{% block content%}

<div class=" relative mt-2">
  <div class="carousel h-[10rem] overflow-y-hidden sm:h-[20rem] w-full flex overflow-x-scroll no-scrollbar rounded-md">
    {% for ad in ads %}
    {%if ad.url %}
      <a href="{{ad.url}}" class=" w-full">
        <img class=" h-full min-w-full object-cover" src="{{ad.file_path}}" alt="">
      </a>
    {%else%}
      <img class=" h-full min-w-full object-cover" src="{{ad.file_path}}" alt="">
    {%endif%}
    {% endfor %}
  </div>
  <div class="carousel-dots absolute bottom-5 left-1/2 flex justify-center mt-4 ">
    <div class="carousel-dot active:bg-cyan-300 w-3 h-3 bg-gray-400 rounded-full mx-1"></div>
    <div class="carousel-dot active:bg-cyan-300 w-3 h-3 bg-gray-400 rounded-full mx-1"></div>
    <div class="carousel-dot active:bg-cyan-300 w-3 h-3 bg-gray-400 rounded-full mx-1"></div>
  </div>
</div>

{% if messages %}
<div class=" mt-32 text-center w-full">
    {% for message in messages %}
    <span class=" text-4xl text-gray-700 font-weight-bolder" >{{ message }} 😔</span>
    {% endfor %}
</div>
{% endif %}

    <div class=" mt-10 sm:grid lg:grid-cols-4 md:grid-cols-3 flex flex-col gap-8 mx-auto">
        {% for listing in listings%}
            {% include './listing_card.html' with listing=listing %}
        {% endfor %}
    </div>

      <!-- Pagination -->
 {%if listings|length > 1 %}
 <div class="mt-10">
  <div class="">
   <nav aria-label="Page navigation">
     <ul class="pagination justify-center flex gap-5"> 
        <!-- {% if page_obj.has_previous %}
       <li class="page-item"><a class="page-link " href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">First</a></li>
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Prev</a></li>
       {% endif %}  -->

       <!-- <div class=" flex gap-5"> -->
        {% for i in page_obj.paginator.page_range %}
       {% if i >= page_obj.number|add:'-5' and i <= page_obj.number|add:'5' %}
       
       <a class="page-link" href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"><li class=" p-2 rounded-full w-12 h-12 flex items-center justify-center  {% if i == page_obj.number %} border border-cyan-300 bg-cyan-400 {%else%} border border-gray-500 {% endif %}">{{i}}</li></a>
       {% endif %}
       {% endfor %} 
       <!-- </div> -->
       
        <!-- {% if page_obj.has_next %}
       <li class="page-item"><a class="page-link " href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a></li>
       <li class="page-item"><a class="page-link " href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Last</a></li>
       {% endif %}  -->
     </ul>
   </nav>
  </div>
 </div>
 {%endif%}

 
<script>
    const leftButtons = document.querySelectorAll('.left-btn');
    const rightButtons = document.querySelectorAll('.right-btn');
    const imageScrollContainers = document.querySelectorAll('.image-scroll');
    
    leftButtons.forEach((button, index) => {
      button.addEventListener('click', () => {
        imageScrollContainers[index].scrollBy({
          left : -286, 
          behavior: 'smooth'
        });
      });
    });
    
    rightButtons.forEach((button, index) => {
      button.addEventListener('click', () => {
        imageScrollContainers[index].scrollBy({
          left : 286, 
          behavior: 'smooth'
        });
      });
    });
    </script>
    
    <script>
      const carousel = document.querySelector('.carousel');
      const images = carousel.querySelectorAll('img');
      const dots = document.querySelectorAll('.carousel-dot');
      let currentIndex = 0;

      function scrollCarousel() {
      carousel.scrollTo({
        left : currentIndex * carousel.offsetWidth,
        behavior: 'smooth'
      });
      updateDots();
    
      currentIndex = (currentIndex + 1) % images.length;
    }

    
    function updateDots() {
      dots.forEach((dot, index) => {
    if (index === currentIndex) {
      dot.classList.add('active');
    } else {
      dot.classList.remove('active');
    }
  });
}

setInterval(scrollCarousel, 3000);
  </script>

  <style>
    .carousel-dot.active {
      background-color: #48d3e5;
    }
  </style>

{% endblock content%}
