<a class="" href="{{ listing.id }}"> 
<div class=" w-[20rem] sm:w-[18rem] flex flex-col gap-2 border rounded-lg overflow-hidden mx-auto">
  <div class="image-container flex items-center overflow-x-hidden relative no-scrollbar">
    {%if listing.medias.all.count > 1 %}
    <button id="left-btn" class="scroll-btn rounded-full left-btn absolute left-2 transform -translate-y-1/5 text-4xl bg-white/50 p-2 cursor-pointer">&#8592;</button>
    {%endif%}
    <div id="image-scroll" class="image-scroll no-scrollbar flex w-full overflow-x-auto scroll-snap-type-x scroll-smooth ">
      {%if listing.medias.all %}
      {% for media in listing.medias.all %}
        <img class="h-[12rem] w-full  object-cover flex-none scroll-snap-align-start" src="{{ media.file_path }}" alt="Listing Media">
      {% endfor %}
      {%else%}
      <img class="h-[12rem] w-full  object-cover flex-none scroll-snap-align-start" src="https://img.freepik.com/free-vector/beautiful-home_24877-50819.jpg?t=st=1717506044~exp=1717509644~hmac=24522bbbc677586abe5adb4f91a1bdde053ef16b9d3f06374cfd1e0bfcdfa949&w=826" alt="">
      {%endif%}
    </div>
    {%if listing.medias.all.count > 1 %}
    <button id="right-btn" class="scroll-btn rounded-full right-btn absolute right-2 transform -translate-y-1/5 text-4xl bg-white/50 p-2 cursor-pointer">&#8594;</button>
    {%endif%}
  </div>
  <div class="flex flex-col p-2">
    <div class="flex justify-between items-center">
      <span class="text-xl font-semibold"> {{ listing.title }} </span>
      <span class=" text-white text-xs font-semibold px-2.5 py-0.5 rounded  {% if listing.status %} bg-green-400  {% elif not listings.status %} bg-red-400 {% endif %}">{%if listing.status %} available {%else%} unavailable {%endif%}</span>
    </div>
    <div class=" flex items-center gap-2">
      <i class="fas fa-map-marker-alt    "></i>
      <span class="text-sm">{{ listing.area }}, {{ listing.sub_city }}, {{ listing.city }}</span>
    </div>
    <div class="flex">
      <span class=""> <i class="fa fa-home" aria-hidden="true"></i> {{ listing.rooms }} rooms</span>
      <span class=""> <i class="fa fa-bed" aria-hidden="true"></i> {{ listing.bedrooms }} bedrooms</span>
      <span class=""> <i class="fa fa-shower" aria-hidden="true"></i> {{ listing.bathrooms }} bathrooms</span>
    </div>
    <div class="flex items-end justify-between">
      <span class="text-2xl font-bold text-gray-900 ">ETB {{ listing.price }}<span class="text-sm font-thin">/month</span></span>
    </div>
  </div>
</div>
</a>

<script>
  const leftButtons = document.querySelectorAll('.left-btn');
  const rightButtons = document.querySelectorAll('.right-btn');
  const imageScrollContainers = document.querySelectorAll('.image-scroll');
  
  leftButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      imageScrollContainers[index].scrollBy({
        left : -286, 
        behavior: 'smooth'
      });
    });
  });
  
  rightButtons.forEach((button, index) => {
    button.addEventListener('click', () => {
      imageScrollContainers[index].scrollBy({
        left : 286, 
        behavior: 'smooth'
      });
    });
  });
</script>